@font-face 
{
	font-family: "glyphicons-halflings-regular";
	src: url("../fonts/glyphicons-halflings-regular.ttf");
}

html,
body,
#main-nav-list,
.main-nav-item,
#breadcrumb-list{
	margin: 0;
	padding: 0;
}

html,
body{
	width: 100%;
    height: 100%;
}

#main-nav-list,
#breadcrumb-list{
    list-style-type: none;
    display: inline-flex;
}

body{
    background: white;
    font-size: 13px;
    color: black;
}

a,
a:active{
	text-decoration: none;
	color: black;
}
/* ==========================================================================
  HEADER
========================================================================== */
#header{
    width: 100%;
    height: 152px;
    background: white;
    padding: 5px 0;
}

#logo{
	width: 30%;
	float: left;
	padding-left: 5%;	
}

#logo a{
	width: 100%;	
}

#company-logo{
	width: 100%;
    height: auto;
}

#header-droit{
    width: 60%;
    height: 100%;
    padding-right: 5%;
    float: right;
    
}

#connexion-header{
    width: calc(100% - 15px);
    float: left;
    height: 50%;
    padding: 15px 0 0 0;
    text-align: right;
}

#menu-btn{
	display: none;
}

#main-nav{
    font-size: 20px;
    height: 50%;
    width: 100%;
    float: left;
    text-align: right;
}

#main-nav-list{
	height: 100%;
}

.main-nav-item{
	padding: 0 20px;
}

.active .main-nav-link{
	border-bottom: 3px solid;
	padding-bottom: 10px;
}


/* ==========================================================================
  CONTENT
========================================================================== */
#page-content{
    clear: both;
    width: 972px;
    height: calc(100% - 162px - 50px);
    margin: auto;
    padding: 10px;
}

.visible-small{
	display: none;
}

.breadcrumb-item{
	padding: 15px 2px;
}

.breadcrumb-item:after{
	content: ">";
}

.last:after{
	content: none;
}
/* ==========================================================================
  FOOTER
========================================================================== */
#footer{
    text-align: center;
    height: 30px;
    background: #d3b3d8;
    border-top: 5px solid;
    padding-top: 15px;
}