<nav id="breadcrumb">
    <meta itemprop="url" content="http://my-site.com/about-us">
    <div class="container">
        <ol class="list-unstyled" id="breadcrumb-list" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb-link" href="#" itemprop="item">
                    <span itemprop="name">
                        <span class="visible-small icon-arrow-left"></span>
                        <span class="hidden-small">Accueil</span>
                    </span>
                </a>
                <meta itemprop="position" content="1" />
            </li>
            <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a class="breadcrumb-link" href="#" itemprop="item"><span itemprop="name">Créations</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ol>
    </div>
</nav>